@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
    --backgroud_color: #FFFFFF;
    --color_button: #8E2424;
    --main_letter: #667085;
    --second_letter:#3A404E;
    --title_letter: #101828;
    
    --main_font: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: var(--main_font);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
  }

.links a {
    color: var(--main_letter);
    text-decoration: none;
    margin-right: 2rem;
}

button {
    padding: 0.8rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    font-weight: 500;
    background: none;
    color: var(--main_letter);
    font-size: 0.9rem;
}

button#signUp {
    background-color: var(--color_button);
    color: var(--backgroud_color);
}

.cabecalho__span {
    margin-top: 4rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    color: var(--color_button);
}

.cabecalho__titulo {
    margin: 1rem 0 1rem 0;
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: 600;
    color: var(--title_letter);
}

.cabecalho__texto {
    size: 20px;
    line-height: 30px;
    text-align: center;
    padding: 0 15rem 0 15rem;
    font-weight: 400;
}